/* layout */

html, body, .capa{
	height: 100%;
	overflow: uto;
}

body{
	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Circular,Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

/* Barra de Navegação */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg');
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand {
	padding: 5px 15px;
}

.divider{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}

/* Capa Principal */
.capa {
	display: flex;
	justify-content: center;
	align-items: center;
}

.texto-capa {
	text-align: center;
	color: white;
}

.btn-capa {
	border-radius: 500px;
	color: #fff;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

#obtenha-sp{
	background: transparent;
	border: 2px solid #fff;
}

#obtenha-sp:hover{
	background-color: #fff;
	color: #000;
}

#aproveite-sp{
	background-color: #7c25f8;
	color: #fff;
}

#aproveite-sp:hover {
	background-color: #6207e3;
}

/*Section Serviços*/
#servicos{
	background-color: #fff;
	padding: 48px 0;
}

.imgs-spotify img{
	padding: 5px;
}

/*Section Características*/
#caracteristicas{
	padding: 20px 0;
	color: #fff;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: translate(30deg);
    -webkit-transform: translate(30deg);
    padding-left: 80px;
}

/*Footer*/
#rodape{
	background-color: #000;
	position: relative;
	padding: 50px 0;
}

.ul-rodape.nav>li>a{
	padding: 10px 0;
	display: inline-block;		
}

.ul-rodape.nav>li>a:hover{
	background-color: transparent;
	color: #1ed760;
}

.ul-rodape a{
	color: #fff;
}

.item-rede-social{
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}
 /*Tipografia */
}
h1{
	font-size: 100px;
	letter-spacing: -0.05em;
}

h2{
 	font-size: 48px;
 	font-weight: 900;
 	line-height: 1.2;
 	letter-spacing: -.02em;
}

h3{
	font-size: 24px;
	letter-spacing: -.01em;
	font-weight: 900;
}

p{
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
}

@media screen and (max-width: 767px) {
	h1{
		font-size: 50px;
	}	
	.btn-capa{
		margin: 10px 15px;

	}
}

@media screen and (min-width: 768px) {
	h1{
		font-size: 70px;
	}
}

@media screen and (min-width: 992px) {
	h1{
		font-size: 80px;
	}
}

@media screen and (min-width: 1200px){
	h1{
		font-size: 100px;
	}
}